<%= form_for(@cat_rental_request) do |f| %>

  <div class="field">
    <%= f.label :cat_id, "Cat" %><br>
    <%= f.select :cat_id, Cat.all.collect {|cat| [cat.name, cat.id]} %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit "Request Rental" %>
  </div>
<% end %>
