<%= form_for(@cat) do |f| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date, start_year: 1985, end_year: Time.now.year %>
  </div>
  <div class="dropdown">
    <%= f.label :color %><br>
    <%= f.select :color, ([nil] + %w(black white red blue calico tabby)) %>
  </div>
  <div class="radio"><br>Sex
    <br><%= f.radio_button :sex, "M" %> <%= f.label :sex, "Male" %>
    <br><%= f.radio_button :sex, "F" %> <%= f.label :sex, "Female" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 30, rows: 4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
