<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @cat.owner.username %>
</p>

<p>
  <strong>Age:</strong>
  <%= @cat.age %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cat.color %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @cat.sex %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cat.description %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %>
<br>
<br>
<strong>Rental Requests</strong>
<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Requested By</th>
    <th>Status</th>
  </tr>
  <% @cat.cat_rental_requests.order("start_date").each do |req| %>
    <tr>
      <td><%= req.start_date %></td>
      <td><%= req.end_date %></td>
      <td><%= req.user.username %></td>
      <td>
        <% if req.status == "PENDING" %>
          <%= button_to "Approve", approve_cat_rental_request_url(req)%>
          <%= button_to "Deny", deny_cat_rental_request_url(req)%>
        <% else %>
          <%= req.status %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Make rental request', new_cat_rental_request_url %> |
<%= link_to 'Back', cats_path %>
